.signIn-page {
    background: rgb(223, 223, 223) !important;
    background: linear-gradient(0deg, rgba(223, 223, 223, 1) 0%, rgba(156, 156, 156, 1) 100%) !important;

    .signIn-container {
        max-width: 1000px;
    }
}