.create-account-btn {
    width: 242px;
    height: 34px;
    background-color: #e4b721 !important;
    color: #000;
    font-weight: bold;
}

.sign-in-btn:hover, .nav-menu-btn:hover  {
    background-color: #fff;
    color: #000;
}